:root {
    --text-primary: #f1f1f1;
    --text-secondary: #9f9f9f;
    --text-disabled: #5d5d5d;
    --bg-primary: #010101;
    --bg-secondary: #262627;
    --bg-active: #4f4d6f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myCanvas {
    display: block;
    background-color: var(--bg-primary);
    cursor: grab;
    touch-action: none;
}

#myCanvas.is-panning {
    cursor: grabbing;
}

.tools {
    position: absolute;
    top: 10px;
    left: 50%;
    translate: -50%;
    background-color: var(--bg-secondary);
    border-radius: 12px;
}

.tools .tool {
    position: relative;
    border: none;
    padding: 7px 8px;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
    color: var(--text-secondary);
}

.tools .tool.active {
    background-color: var(--bg-active);
}

.tools .tool svg {
    height: 20px;
    width: 20px;
}

.tools .tool.disabled svg {
    color: var(--text-disabled);
}

.tools .tool:hover::after {
    content: attr(data-tool);
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 5px 10px;
    background-color: var(--bg-secondary);
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}

.tools .tool .key-number {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    /* background-color: var(--bg-active); */
    border-radius: 5px;
    font-size: 8px;
    color: var(--text-secondary);
    z-index: 1;
}

.tools .tool.disabled .key-number {
    color: var(--text-disabled);
}

.sidebar {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: var(--bg-secondary);
    border-radius: 20px;
    padding: 10px;
    color: var(--text-secondary);
    min-width: 250px;
    opacity: 1;
    transition: all 0.3s ease;
    overflow: hidden;
}

.sidebar .top {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid var(--text-secondary);
}

.sidebar .top .hamburger {
    background-color: transparent;
    border: none;
    height: 20px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.sidebar .top .hamburger svg {
    fill: var(--text-secondary);
    height: 100%;
    aspect-ratio: 1/1;
}

.sidebar .top .hamburger:hover svg {
    fill: var(--text-primary);
}

.sidebar .top .title {
    font-size: 1.4rem;
    font-weight: 500;
}

.sidebar .cards {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
    border-radius: 10px;
}

.sidebar .card {
    display: flex;
    padding: 10px;
    height: 70px;
    width: 280px;
    border-bottom: 1px dashed var(--text-secondary);
}

.sidebar .card:last-child {
    border: none;
}

.sidebar .card img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sidebar .card .right-container {
    margin-left: 12px;
    height: 100%;
    width: calc(100% - 72px);
}

.sidebar .card .right-container .name {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.sidebar .card .right-container .message {
    font-size: 0.9rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar.hidden {
    opacity: 0;
    left: -300px;
}

.sidebar.shrinked {
    height: 210px;
}

.sidebar.shrinked .cards {
    height: calc(100% - 60px);
}

.tools .toggle-sidebar-btn {
    position: relative;
    border: none;
    border-right: 1px solid var(--text-disabled);
    padding: 7px 8px;
    padding-right: 10px;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
    fill: var(--text-secondary);
}

.tools .toggle-sidebar-btn svg {
    height: 20px;
    width: 20px;
}